<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davidgong.simpleweek">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/simpleweeklogo"
        android:label="SmartWeek"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.simpleweek.davidgong.simpleweek.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simpleweek.davidgong.simpleweek.DayActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.simpleweek.davidgong.simpleweek.CreateTask"
            android:launchMode="singleTask"></activity>
        <activity android:name="com.simpleweek.davidgong.simpleweek.MondayActivity" />
        <activity android:name="com.simpleweek.davidgong.simpleweek.TuesdayActivity" />
        <activity android:name="com.simpleweek.davidgong.simpleweek.WednesdayActivity" />
        <activity android:name="com.simpleweek.davidgong.simpleweek.ThursdayActivity" />
        <activity android:name="com.simpleweek.davidgong.simpleweek.FridayActivity" />
        <activity android:name="com.simpleweek.davidgong.simpleweek.EditData"
         />
    </application>

</manifest>